* {
  box-sizing: border-box;
}

body {
  background: #74c8dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  margin: 0;
}

h1 {
  letter-spacing: 2px;
}

.makeup {
  background-color: rgb(119, 190, 143);
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(100, 100, 100, 0.5);
  margin: 40px;
  padding: 20px;
  text-align: center;
}

.makeup .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30%;
  width: 160px;
  height: 160px;
  text-align: center;
}

.makeup .img-container img {
  margin-top: 20px;
  max-width: 90%;
}

.makeup .info {
  margin-top: 20px;
}

.makeup .number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.makeup .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

h1 {
  font-size: 10px;
  color: #cc6e42;
  text-shadow: 1px 1px;
  font-weight: 100;
}

.zoom {
  transition: transform 0.1s;
}

.zoom:hover {
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(1.03);
}
